@media screen and (min-width: 1400px) {
    .content-box {
        background: #EBE8DE;
        max-height: 380px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        p {
            font-family: 'Roboto Condensed';
            font-size: 50px;
        }
    }

    #services {
        .services-baner {
            height: 330px;
        }

        .bg-contact h1 {
            font-size: 50px;
            padding-top: 5rem;
        }

        .services-wrapper {
            padding-top: 5rem;
        }
    }

    #contact {
        #map {
            height: 850px;
        }

        .contact-forms {

            h1 {
                font-family: 'Roboto Condensed';
                font-size: 50px;
                padding: 50px;
                text-transform: uppercase;
            }

            .icons p {
                text-align: center;
                font-family: 'Roboto Condensed';
                font-size: 50px;
            }

            form .news-forms {
                margin-top: 100px;

                legend {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .custom-header {
        .full-slider .slider .prev {
            height: 150px;
            width: 150px;
            transform: rotate(180deg);
            clip-path: circle(50% at 100% 50%);
        }

        .full-slider .slider .next {
            height: 150px;
            width: 150px;
            clip-path: circle(50% at 100% 50%);
        }
    }

    #contact .contact-forms .row .bg-contact h1 {
        padding: 0px 0px 0 15px;
    }
}

@media screen and (min-width: 992px) {
    #contact .icon-wrapper {
        float: right;
        margin: auto;
    }
}

@media screen and (max-width: 992px) {
    .custom-header {

        .full-slider .slider .prev {
            height: 120px;
            width: 120px;
            transform: rotate(180deg);
            clip-path: circle(50% at 100% 50%);
        }

        .full-slider .slider .next {
            height: 120px;
            width: 120px;
            clip-path: circle(50% at 100% 50%);
        }
    }

    .bg-contact {
        background: #ffffff;
    }

    .bg-form {
        background: #EBE8DE;
    }

    #contact .form-wrapper {
        position: relative;
        margin-top: -210px;
    }

    footer {
        border-top: 1px solid gray;
    }
}

.content-box {
    background: #EBE8DE;
    display: flex;

    .image-box {
        height: 150px;
        width: 130px;
        margin: auto;
    }

    p {
        font-family: 'Roboto Condensed';
        font-size: 30px;
    }


}


@media screen and (max-width: 768px) {
    .custom-header {
        .navbar .navbar-brand {
            max-height: 100px;
            height: 70px;
        }

        .carousel-control-next,
        .carousel-control-prev {
            height: 100px;
            width: 100px;
        }

        .carousel-control-prev {
            left: -50px;

            .carousel-control-prev-icon {
                margin-right: 10px;
            }
        }

        .carousel-control-next {
            right: -50px;

            .carousel-control-next-icon {
                margin-left: 10px;
            }
        }

        .navbar .navbar-nav {
            @include flexbox(center, center);

            .nav-item {
                margin-left: 0px;
            }
        }
    }

    #contact .contact-forms .row .icon-wrapper div {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

    #contact .contact-forms .row .icons p {
        font-size: 28px
    }
}

@media screen and (max-width: 567px) {
    .custom-header .carousel-item .date p:first-child {
        font-family: 'Roboto Condensed';
        font-size: 42px;
        color: $White;
    }

    .custom-header .carousel-item .date p {
        font-family: 'Roboto Condensed';
        font-size: 22px;
        color: $White;
    }

    #contact form .submit input {
        float: left;
    }
    #success{
        float: right;
    }

    #contact .contact-forms .row .icon-wrapper div {
        height: 20px;
        width: 20px;
        line-height: 15px;

        i {
            font-size: 10px;
        }
    }

    #contact .contact-forms .row .icons p {
        font-size: 18px
    }

    #contact form .news-forms label {
        font-size: 12px;
    }
}