.custom-header {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.custom-header .full-slider .slider {
  height: 100vh;
}

.custom-header .full-slider .slider .caption h3 {
  font-family: "Roboto Condensed";
  font-size: 72px;
}

.custom-header .full-slider .slider .caption h5 {
  font-family: "Roboto Light";
  font-size: 38px;
}

.custom-header .full-slider .slider .prev,
.custom-header .full-slider .slider .next {
  position: absolute;
  top: 37%;
  height: 200px;
  width: 200px;
  background: rgba(241, 241, 241, 0.5);
  z-index: 99999;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-header .full-slider .slider .prev i,
.custom-header .full-slider .slider .next i {
  font-size: 52px;
}

.custom-header .full-slider .slider .prev:hover, .custom-header .full-slider .slider .prev:focus, .custom-header .full-slider .slider .prev:active,
.custom-header .full-slider .slider .next:hover,
.custom-header .full-slider .slider .next:focus,
.custom-header .full-slider .slider .next:active {
  background: rgba(241, 241, 241, 0.9);
}

.custom-header .full-slider .slider .prev {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-clip-path: circle(50% at 100% 50%);
          clip-path: circle(50% at 100% 50%);
}

.custom-header .full-slider .slider .next {
  right: 0;
  -webkit-clip-path: circle(50% at 100% 50%);
          clip-path: circle(50% at 100% 50%);
}

.navbar {
  position: absolute;
  top: 0;
  padding: 30px 30px 0 30px;
  max-height: 190px;
  z-index: 99999;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.navbar .navbar-brand {
  max-height: 150px;
  height: 100px;
  width: auto;
  margin-top: -6px;
  z-index: 33333;
  position: absolute;
  top: 30px;
  left: 30px;
}

.navbar .navbar-brand .logo-img {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-brand .hidden {
  opacity: 0;
}

.navbar .navbar-nav {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 0px;
  width: 100%;
  z-index: 0;
  background: gray;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item {
  margin-left: 280px;
}

.navbar .navbar-nav .nav-link {
  font-family: "Roboto Condensed";
  font-size: 72px;
  color: #000;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navbar .navbar-nav-active {
  height: 100vh;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .Burgeractive .line1 {
  -webkit-transform: rotate(-45deg) translate(-13px, 10px);
          transform: rotate(-45deg) translate(-13px, 10px);
  background: #ff0000;
}

.navbar .Burgeractive .line2 {
  z-index: 99999;
  opacity: 0;
}

.navbar .Burgeractive .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -5px);
          transform: rotate(45deg) translate(-6px, -5px);
  background: #ff0000;
}

.navbar .burger {
  position: absolute;
  top: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  z-index: 5555;
}

.navbar .burger div {
  width: 40px;
  margin: 4px;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar .burger div:nth-child(2) {
  width: 30px;
}

#services {
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}

#services .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services h1 {
  font-family: 'Roboto Condensed';
  font-size: 36px;
  padding-top: 1rem;
}

#services .services-baner {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 50px;
  height: 290px;
  background-image: url("../images/services-baner.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

#services .services-baner .horizontal {
  position: absolute;
  right: 500px;
  bottom: 0;
}

#services .services-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#services .services-wrapper .content-box {
  background: #EBE8DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services .services-wrapper .content-box .image-box {
  height: 150px;
  width: 130px;
  margin: auto;
}

#services .services-wrapper .content-box p {
  font-family: 'Roboto Condensed';
  font-size: 50px;
}

#contact {
  position: relative;
}

#contact .map::after {
  content: "";
  clear: both;
  display: block;
}

#contact .form-wrapper {
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#contact .form-wrapper .row {
  margin-bottom: 0;
}

#contact .contact-forms .row .bg-contact h1 {
  font-family: 'Roboto Condensed';
  font-size: 34px;
  padding: 34px;
  margin-bottom: 180px;
  margin-top: 50px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}

#contact .contact-forms .row .bg-form h1 {
  font-family: 'Roboto Condensed';
  font-size: 34px;
  padding: 34px;
  margin-top: 50px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}

#contact .contact-forms .row .icon-wrapper {
  float: right;
}

#contact .contact-forms .row .icon-wrapper a,
#contact .contact-forms .row .icon-wrapper a:hover {
  color: #000;
}

#contact .contact-forms .row .icons p {
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 40px;
}

#contact .contact-forms .row .icon-wrapper div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
}

#contact form {
  font-family: 'Roboto Light';
}

#contact form .line-1 input {
  background: #F2F2F2;
  margin-bottom: 3px;
}

#contact form .line-1 span {
  display: block;
  font-size: 8px;
  color: red;
  font-weight: 600;
  margin-bottom: 20px;
  opacity: 0;
}

#contact form .line-1 textarea {
  resize: none;
  background: #F2F2F2;
}

#contact form .news-forms {
  margin-top: 100px;
}

#contact form .news-forms fieldset {
  padding: 0;
}

#contact form .news-forms legend {
  font-size: 14px;
}

#contact form .news-forms label {
  font-size: 14px;
}

#contact form .submit {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#contact form .submit input {
  background: #000;
  float: right;
}

#success {
  font-family: 'Roboto Thin';
  font-size: 10px;
  width: 100%;
  font-weight: 700;
  float: left;
  opacity: 0;
  color: green;
}

#map {
  border: 1px solid gray;
  width: 100%;
  height: 570px;
}

#map iframe {
  height: 100%;
  width: 100%;
}

footer span {
  display: block;
  font-family: 'Roboto Thin';
  font-size: 16px;
  margin: 20px 0 10px 0;
}

.circle1 {
  position: absolute;
  top: 52px;
  left: 520px;
  height: 30px;
  width: 30px;
  background: red;
  border-radius: 50%;
  z-index: 99999;
  opacity: 1;
}

.circle2 {
  position: absolute;
  top: 515px;
  left: 420px;
  height: 30px;
  width: 30px;
  background: red;
  border-radius: 50%;
  z-index: 99999;
  opacity: 1;
}

.circle3 {
  position: absolute;
  top: 826px;
  left: 486px;
  height: 150px;
  width: 150px;
  background: white;
  border-radius: 50%;
  z-index: 99999;
  opacity: 0.4;
}

.circle4 {
  position: absolute;
  top: 67px;
  left: 865px;
  height: 62px;
  width: 62px;
  background: white;
  border-radius: 50%;
  z-index: 99999;
  opacity: 0.4;
}

.circle5 {
  position: absolute;
  top: 350px;
  left: 1030px;
  height: 30px;
  width: 30px;
  background: red;
  border-radius: 50%;
  z-index: 99999;
  opacity: 1;
}

.circle6 {
  position: absolute;
  top: 720px;
  left: 1040px;
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 50%;
  z-index: 99999;
  opacity: 0.4;
}

.circle7 {
  position: absolute;
  top: 560px;
  left: 1660px;
  height: 150px;
  width: 150px;
  background: white;
  border-radius: 50%;
  z-index: 99999;
  opacity: 0.9;
}

.circle8 {
  position: absolute;
  top: 570px;
  left: 1330px;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  z-index: 99999;
  opacity: 0.4;
}

.circle9 {
  position: absolute;
  top: 560px;
  left: 775px;
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 50%;
  z-index: 99999;
  opacity: 0.4;
}

.circle10 {
  position: absolute;
  top: 900px;
  left: 1500px;
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 50%;
  z-index: 99999;
  opacity: 0.4;
}

.no-margin {
  margin: 0;
}

.no-bottom {
  margin-bottom: 0;
}

.padd-0-0 {
  padding-right: 0;
  padding-left: 0;
}

.padd-0 {
  padding-left: 0;
}

.bg-contact {
  background: #EBE8DE;
}

.bg-form {
  background: #FFFFFF;
}

@media screen and (min-width: 1400px) {
  .content-box {
    background: #EBE8DE;
    max-height: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-box p {
    font-family: 'Roboto Condensed';
    font-size: 50px;
  }
  #services .services-baner {
    height: 330px;
  }
  #services .bg-contact h1 {
    font-size: 50px;
    padding-top: 5rem;
  }
  #services .services-wrapper {
    padding-top: 5rem;
  }
  #contact #map {
    height: 850px;
  }
  #contact .contact-forms h1 {
    font-family: 'Roboto Condensed';
    font-size: 50px;
    padding: 50px;
    text-transform: uppercase;
  }
  #contact .contact-forms .icons p {
    text-align: center;
    font-family: 'Roboto Condensed';
    font-size: 50px;
  }
  #contact .contact-forms form .news-forms {
    margin-top: 100px;
  }
  #contact .contact-forms form .news-forms legend {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .custom-header .full-slider .slider .prev {
    height: 150px;
    width: 150px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-clip-path: circle(50% at 100% 50%);
            clip-path: circle(50% at 100% 50%);
  }
  .custom-header .full-slider .slider .next {
    height: 150px;
    width: 150px;
    -webkit-clip-path: circle(50% at 100% 50%);
            clip-path: circle(50% at 100% 50%);
  }
  #contact .contact-forms .row .bg-contact h1 {
    padding: 0px 0px 0 15px;
  }
}

@media screen and (min-width: 992px) {
  #contact .icon-wrapper {
    float: right;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .custom-header .full-slider .slider .prev {
    height: 120px;
    width: 120px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-clip-path: circle(50% at 100% 50%);
            clip-path: circle(50% at 100% 50%);
  }
  .custom-header .full-slider .slider .next {
    height: 120px;
    width: 120px;
    -webkit-clip-path: circle(50% at 100% 50%);
            clip-path: circle(50% at 100% 50%);
  }
  .bg-contact {
    background: #ffffff;
  }
  .bg-form {
    background: #EBE8DE;
  }
  #contact .form-wrapper {
    position: relative;
    margin-top: -210px;
  }
  footer {
    border-top: 1px solid gray;
  }
}

.content-box {
  background: #EBE8DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-box .image-box {
  height: 150px;
  width: 130px;
  margin: auto;
}

.content-box p {
  font-family: 'Roboto Condensed';
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .custom-header .navbar .navbar-brand {
    max-height: 100px;
    height: 70px;
  }
  .custom-header .carousel-control-next,
  .custom-header .carousel-control-prev {
    height: 100px;
    width: 100px;
  }
  .custom-header .carousel-control-prev {
    left: -50px;
  }
  .custom-header .carousel-control-prev .carousel-control-prev-icon {
    margin-right: 10px;
  }
  .custom-header .carousel-control-next {
    right: -50px;
  }
  .custom-header .carousel-control-next .carousel-control-next-icon {
    margin-left: 10px;
  }
  .custom-header .navbar .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .custom-header .navbar .navbar-nav .nav-item {
    margin-left: 0px;
  }
  #contact .contact-forms .row .icon-wrapper div {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  #contact .contact-forms .row .icons p {
    font-size: 28px;
  }
}

@media screen and (max-width: 567px) {
  .custom-header .carousel-item .date p:first-child {
    font-family: 'Roboto Condensed';
    font-size: 42px;
    color: #fff;
  }
  .custom-header .carousel-item .date p {
    font-family: 'Roboto Condensed';
    font-size: 22px;
    color: #fff;
  }
  #contact form .submit input {
    float: left;
  }
  #success {
    float: right;
  }
  #contact .contact-forms .row .icon-wrapper div {
    height: 20px;
    width: 20px;
    line-height: 15px;
  }
  #contact .contact-forms .row .icon-wrapper div i {
    font-size: 10px;
  }
  #contact .contact-forms .row .icons p {
    font-size: 18px;
  }
  #contact form .news-forms label {
    font-size: 12px;
  }
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro_Regular';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("Myriad Pro"), local("MyriadPro-Regular"), url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/RobotoCondensed-Bold.eot");
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */