@import "./variables";
@import "./mixin";

.custom-header {
    @include paddingSides(0px);
    position: relative;
    height: 100vh;
    overflow: hidden;

    .full-slider .slider {
        height: 100vh;

        .caption h3 {
            font-family: "Roboto Condensed";
            font-size: 72px;
        }

        .caption h5 {
            font-family: "Roboto Light";
            font-size: 38px;
        }

        .prev,
        .next {
            position: absolute;
            top: 37%;
            height: 200px;
            width: 200px;
            background: rgba(241, 241, 241, 0.5);
            z-index: 99999;
            cursor: pointer;
            @include flexbox(flex-end, center);

            i {
                font-size: 52px;
            }

            &:hover,
            &:focus,
            &:active {
                background: rgba(241, 241, 241, 0.9);
            }
        }

        .prev {
            left: 0;
            transform: rotate(180deg);
            clip-path: circle(50% at 100% 50%);
        }

        .next {
            right: 0;
            clip-path: circle(50% at 100% 50%);
        }
    }
}


.navbar {
    position: absolute;
    top: 0;
    padding: 30px 30px 0 30px;
    max-height: 190px;
    z-index: 99999;
    align-items: end;

    .navbar-brand {
        max-height: 150px;
        height: 100px;
        width: auto;
        margin-top: -6px;
        z-index: 33333;
        position: absolute;
        top: 30px;
        left: 30px;

        .logo-img {
            display: block;
            position: absolute;
            top: 0;
            height: 100%;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

        .hidden {
            opacity: 0;
        }
    }

    .navbar-nav {
        display: none;
        @include flexbox(center, flex-start);
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 0px;
        width: 100%;
        z-index: 0;
        background: gray;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        .nav-item {
            margin-left: 280px;
        }

        .nav-link {
            font-family: "Roboto Condensed";
            font-size: 72px;
            color: $Black;
            transition: all 1s ease-in-out;
        }
    }

    .navbar-nav-active {
        height: 100vh;
        opacity: 0.8;
        transition: all 0.5s ease-in-out;
    }

    .Burgeractive .line1 {
        transform: rotate(-45deg) translate(-13px, 10px);
        background: $Red;
    }

    .Burgeractive .line2 {
        z-index: 99999;
        opacity: 0;
    }

    .Burgeractive .line3 {
        transform: rotate(45deg) translate(-6px, -5px);
        background: $Red;
    }

    .burger {
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        z-index: 5555;

        div {
            width: 40px;
            margin: 4px;
            height: 4px;
            background-color: $White;
            transition: all 0.3s linear;

            &:nth-child(2) {
                width: 30px;
            }
        }
    }
}

#services {
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
    @include paddingSides(0px);

    .col-12 {
        @include flexbox(start, center);
        flex-direction: column;
    }

    h1 {
        font-family: 'Roboto Condensed';
        font-size: 36px;
        padding-top: 1rem;
    }

    .services-baner {
        @include paddingSides(0px);
        margin-top: 50px;
        height: 290px;
        background-image: url('../images/services-baner.png');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;

        .horizontal {
            position: absolute;
            right: 500px;
            bottom: 0;
        }

    }

    .services-wrapper {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .content-box {
            background: #EBE8DE;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .image-box {
                height: 150px;
                width: 130px;
                margin: auto;
            }

            p {
                font-family: 'Roboto Condensed';
                font-size: 50px;
            }
        }
    }
}

#contact {
    position: relative;

    .map::after {
        content: "";
        clear: both;
        display: block;
    }

    .form-wrapper {
        position: absolute;
        bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        .row {
            margin-bottom: 0;
        }
    }

    .contact-forms .row {

        .bg-contact h1 {
            font-family: 'Roboto Condensed';
            font-size: 34px;
            padding: 34px;
            margin-bottom: 180px;
            margin-top: 50px;
            text-transform: uppercase;
            padding-top: 0;
            padding-bottom: 0;
        }

        .bg-form h1 {
            font-family: 'Roboto Condensed';
            font-size: 34px;
            padding: 34px;
            margin-top: 50px;
            text-transform: uppercase;
            padding-top: 0;
            padding-bottom: 0;
        }

        .icon-wrapper {
            float: right;

            a,
            a:hover {
                color: #000;
            }
        }

        .icons p {
            text-align: center;
            font-family: 'Roboto Condensed';
            font-size: 40px;
        }

        .icon-wrapper div {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid black;
            text-align: center;
            line-height: 50px;
        }
    }

    form {
        font-family: 'Roboto Light';

        .line-1 input {
            background: #F2F2F2;
            margin-bottom: 3px;
        }

        .line-1 span {
            display: block;
            font-size: 8px;
            color: red;
            font-weight: 600;
            margin-bottom: 20px;
            opacity: 0;
        }

        .line-1 textarea {
            resize: none;
            background: #F2F2F2;
        }

        .news-forms {
            margin-top: 100px;

            fieldset {
                padding: 0;
            }

            legend {
                font-size: 14px;
            }

            label {
                font-size: 14px;
            }
        }

        .submit {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            input {
                background: #000;
                float: right
            }
        }


    }
}

#success {
    font-family: 'Roboto Thin';
    font-size: 10px;
    width: 100%;
    font-weight: 700;
    float: left;
    opacity: 0;
    color: green;
}

#map {
    border: 1px solid gray;
    width: 100%;
    height: 570px;

    iframe {
        height: 100%;
        width: 100%;
    }
}

footer span {
    display: block;
    font-family: 'Roboto Thin';
    font-size: 16px;
    margin: 20px 0 10px 0;
}

.circle1 {
    position: absolute;
    top: 52px;
    left: 520px;
    height: 30px;
    width: 30px;
    background: red;
    border-radius: 50%;
    z-index: 99999;
    opacity: 1;
}

.circle2 {
    position: absolute;
    top: 515px;
    left: 420px;
    height: 30px;
    width: 30px;
    background: red;
    border-radius: 50%;
    z-index: 99999;
    opacity: 1;
}

.circle3 {
    position: absolute;
    top: 826px;
    left: 486px;
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 50%;
    z-index: 99999;
    opacity: 0.4;
}

.circle4 {
    position: absolute;
    top: 67px;
    left: 865px;
    height: 62px;
    width: 62px;
    background: white;
    border-radius: 50%;
    z-index: 99999;
    opacity: 0.4;
}

.circle5 {
    position: absolute;
    top: 350px;
    left: 1030px;
    height: 30px;
    width: 30px;
    background: red;
    border-radius: 50%;
    z-index: 99999;
    opacity: 1;
}

.circle6 {
    position: absolute;
    top: 720px;
    left: 1040px;
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 50%;
    z-index: 99999;
    opacity: 0.4;
}

.circle7 {
    position: absolute;
    top: 560px;
    left: 1660px;
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 50%;
    z-index: 99999;
    opacity: 0.9;
}

.circle8 {
    position: absolute;
    top: 570px;
    left: 1330px;
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    z-index: 99999;
    opacity: 0.4;
}

.circle9 {
    position: absolute;
    top: 560px;
    left: 775px;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    z-index: 99999;
    opacity: 0.4;
}

.circle10 {
    position: absolute;
    top: 900px;
    left: 1500px;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    z-index: 99999;
    opacity: 0.4;
}

.no-margin {
    margin: 0;
}

.no-bottom {
    margin-bottom: 0;
}

.padd-0-0 {
    padding-right: 0;
    padding-left: 0;
}

.padd-0 {
    padding-left: 0;
}

.bg-contact {
    background: #EBE8DE;
}

.bg-form {
    background: #FFFFFF;
}

@import "./responsive";
@import "./fonts";